
# compiled output
src/dist
site/
/tmp
src/build
src/server/config/config.json
chart/green-customerapp/values.yaml-e

# dependencies
src/node_modules

/.sass-cache
/connect.lock
npm-debug.log
testem.log
/typings


#System Files
.DS_Store
Thumbs.db
