/* Space out content a bit */
body ***REMOVED***
  padding-top: 20px;
  padding-bottom: 20px;
***REMOVED***

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer ***REMOVED***
  padding-right: 15px;
  padding-left: 15px;
***REMOVED***

/* Custom page header */
.header ***REMOVED***
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
***REMOVED***
/* Make the masthead heading the same height as the navigation */
.header h3 ***REMOVED***
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
***REMOVED***

/* Custom page footer */
.footer ***REMOVED***
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
***REMOVED***

/* Customize container */
@media (min-width: 768px) ***REMOVED***
  .container ***REMOVED***
    max-width: 730px;
  ***REMOVED***
***REMOVED***
.container-narrow > hr ***REMOVED***
  margin: 30px 0;
***REMOVED***

/* Main marketing message and sign up button */
.jumbotron ***REMOVED***
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
***REMOVED***
.jumbotron .btn ***REMOVED***
  padding: 14px 24px;
  font-size: 21px;
***REMOVED***

/* Supporting marketing content */
.marketing ***REMOVED***
  margin: 40px 0;
***REMOVED***
.marketing p + h4 ***REMOVED***
  margin-top: 28px;
***REMOVED***

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) ***REMOVED***
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer ***REMOVED***
    padding-right: 0;
    padding-left: 0;
  ***REMOVED***
  /* Space out the masthead */
  .header ***REMOVED***
    margin-bottom: 30px;
  ***REMOVED***
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron ***REMOVED***
    border-bottom: 0;
  ***REMOVED***
***REMOVED***
