<ol class="breadcrumb">
  <li><a (click)="logout()">Logout</a></li>
</ol>
<div class="row">
  <h3 *ngIf="user">Welcome to the new myGreen Telco {{user.email}} </h3>
</div>
<div class="row outer">
  <div class="col-md-4">
    <div class="roundRect" style="box-shadow: 3px 3px 1px #05870b; border-color: #05870b;">
      <h2>Balance</h2>
      <p>Manage your payment</p>
      <p><button (click)="bill()" class="btn btn-primary">See my bill</button></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="roundRect" style="box-shadow: 3px 3px 1px #05870b; border-color: #05870b;">
      <h2>Your Account</h2>
      <p>Your plan, account and devices </p>
      <p><button (click)="account()" class="btn btn-primary">Account</button></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="roundRect" style="box-shadow: 3px 3px 1px #05870b; border-color: #05870b;">
      <h2>Support Help</h2>
      <p>Need help about your device or account? </p>
      <p><button (click)="itSupport()" class="btn btn-primary">Ask me</button></p>
    </div>
  </div>
</div>
